#mainbox {
    display: flex;
    background-color: burlywood;
    justify-content: center;

}

#infobox {
    display:flex;
    flex-direction: column;
    justify-content: start;
    width: 15rem;
    padding: 2rem;
    background-color: burlywood;

}

#mapbox {
    color: blue;
    padding: 2rem 2rem 2rem 2rem;
}

#mapbox img {
    height: 32rem;
    width: auto;
    border-style: groove;
}

#statbox {
    background-color: bisque;
    border-style: groove;
    height:25rem;
}

#actionbox {
    background-color: bisque;
    border-style: groove;
    height: 6.5rem;
}

/* HERE BE NAVBAR */
nav {
    background-color: sienna;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    /* remove bullet style */
    list-style: none;
    display: flex;
}
nav h3 {
    margin-left: 2em;
}
nav ul li {
    /* remove bullet style */
    list-style: none;
    display: flex;
    margin: 2em 2em 2em 2em;
}

footer {
    background-color: sienna;
    display: flex;
    align-items: center;
    justify-content: center;
}

#statbox h2 {
    margin-left: 0.5em;
}
#statbox p {
    margin-left: 2em;
}

